body {
    height: 100vh;
    font-family: "Roboto-Regular", sans-serif;
    width: 100%;
    box-sizing: border-box;
}

/* 
Header and Nav
*/

.header {
    height: 592px;
}

.menu-browser {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background-color: #FFFFFF;
    height: 39px;
}

.brand {
    display: flex;
    align-items: center;
}

.img-brandlogo {
    width: auto; 
    height: 85px; 
    margin-right: 10px; 
}

.brand h4 {
    font-size: 28px; 
    color: black;
    font-weight: bold; 
}

.div-nav {
    display: flex;
    flex-direction: row;
}

.div-nav ul {
    display: flex;
    align-items: center;
}

.div-nav ul li {
    margin-right: 30px; 
}

.div-nav ul li a {
    text-decoration: none; 
    color: black;
    padding: 10px 15px ; 
}

.div-nav ul li a:hover {
    opacity: 80%;
    color: #4C0013;
}

.div-nav ul li a:active {
    opacity: 50%;
    color: #4C0013;
}

.input-nav {
    display: flex;
    align-items: center;
    width: 200px;
    height: 16px;
    border: 2px solid #cbcbcb;
    border-radius: 4px;
    padding: 6px 2px;
}

.input-nav::placeholder {
    font-family: "Roboto-Regular";
    color: #aaaaaa;
}

.section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4C0013;
    height: 512px;
}

.conteiner-box-text-header h1 {
    margin-bottom: 24px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.conteiner-box-text-header p {
    color: white;
    margin-bottom: 57px;
}

.conteiner-box-text-header a {
    text-decoration: none; 
    border: 2px solid white;
    border-radius: 9px;
    font-weight: bold;
    font-size: large;
    color: black;
    background-color: #FFFFFF;
    padding: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.conteiner-box-text-header a:hover {
    background-color: #4C0013;
    color: white;
}

.conteiner-box-text-header a:active {
    opacity: 50%;
}

.img-header {
    width: auto;
    height: 400px;
}

/* 
Section "Vinhos"
*/

.conteiner-box-text h1 {
    margin-bottom: 24px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.conteiner-box-text p {
    color: black;
    margin-bottom: 35px;
}

.offers-wines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 440px;
    border-bottom: 1px solid #f5f2f2;
}

.container-wines {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.img-wines {
    width: auto;
    height: 240px;
    border-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: #FFFFFF;
}

.wines-ad {
    border: 1px solid #cbcbcb;
    border-radius: 9px;
}

.wines-ad-text {
    padding: 12px;
}

.wines-ad-text p {
    font-size: 16px;
    margin-bottom: 9px;
}

.wines-ad-text h4 {
    font-size: 20px;
    font-weight: bold;
}


/* 
Section "Nossa Hístoria
*/

.our-history {
    height: 284px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f5f2f2;

}

.our-history-botton-section {
    display: flex;
    border: 1px solid #cbcbcb;
    border-radius: 9px;
    padding: 16px;
}

.our-history-botton-section-flex {
    margin-left: 16px;
}

.our-history-botton-section img{
    width: auto;
    height: 100px;
    object-fit: cover;
    object-position: top;
}

.conteiner-box-history h3 {
    font-size: 20px;
    font-weight: bold;

}

.conteiner-box-history p {
    font-size: 16px;
    margin: 17px 0px 17px 0px;
}

.sr-giulio {
    display: flex;
    gap: 8px;
    height: 20px;
}

.sr-giulio h4 {
    margin-top: 2px;
}

.sr-giulio img{
    width: auto;
    height: 20px;
    background-color: #dadada;
    border-radius: 13px;
}

/*
Section "Avaliação de Clientes"
*/

.customer-reviews {
    height: 337px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f5f2f2;
}

.user-review-container {
    display: flex;
    gap: 40px;
}

.user-review {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 240px;
    height: 111px;
    background-color: #F2F2F2;
    padding: 16px;
    border-radius: 9px;
}

.user-review p {
    height: 72px;
    font-size: 16px;
    align-content: flex-start;
    line-height: 24px;
    width: 199px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-icon{
    height: 32px;
    width: 32px;
    background-color: #dadada;
    border-radius: 15px;
}

.user-name-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-name-container h4 {
    font-weight: bold;
}

.stars {
    width: auto;
    height: 11px;
}

/*
Section "Ofertas e Eventos"
*/

.offers-and-events {
    height: 441px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f5f2f2;
}

.offer-container {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.emoji-click {
    text-decoration: none;
}

.emoji-click img {
    width: 100px;
    height: 100px;
    padding: 14px;
    border-radius: 56px;
    background-color: #F2F2F2;
}

.tittle {
    font-size: 20px;
    margin-bottom: 8px;

}

.sub {
    font-size: 16px;
    color: #808080;

}

.offer h3 {
    font-size: 25px;
    font-weight: bold;
}

.text-offer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*
Footer
*/

.footer {
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: 0px;
}

.footer p {
    width: 281px;
    font-size: 20px;
    text-align: center;
    
}

.icons-social-midia {
    display: flex;
    gap: 20px;
}

.footer img {
    height: 42px;
    width: auto;
}