body {
    height: 100vh;
    font-family: "Roboto-Regular";
    width: 100%;
    box-sizing: border-box;
}

/* 
Header and Nav
*/

.header {
    height: 592px;
}

.menu-browser {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
    background-color: #FFFFFF;
    height: 39px;
}

.brand {
    display: flex;
    align-items: center;
}

.img-brandlogo {
    width: auto; 
    height: 85px; 
    margin-right: 10px; 
}

.brand h4 {
    font-size: 28px; 
    color: black;
    font-weight: bold; 
}

.div-nav {
    display: flex;
    flex-direction: row;
}

.div-nav ul {
    display: flex;
    align-items: center;
}

.div-nav ul li {
    margin-right: 30px; 
}

.div-nav ul li a {
    text-decoration: none; 
    color: black;
    padding: 10px 15px ; 
}

.div-nav ul li a:hover {
    opacity: 80%;
    color: #4C0013;
}

.div-nav ul li a:active {
    opacity: 50%;
    color: #4C0013;
}

.input-nav {
    display: flex;
    align-items: center;
    width: 200px;
    height: 16px;
    border: 2px solid #a1a1a1;
    border-radius: 4px;
    padding: 6px 2px;
}

.section-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4C0013;
    height: 512px;
}

.conteiner-box-text-header h1 {
    margin-bottom: 24px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.conteiner-box-text-header p {
    color: white;
    margin-bottom: 57px;
}

.conteiner-box-text-header a {
    text-decoration: none; 
    border: 2px solid white;
    border-radius: 9px;
    font-weight: bold;
    font-size: large;
    color: black;
    background-color: #FFFFFF;
    padding: 15px;
}

.img-header {
    width: auto;
    height: 400px;
}

/* 
Section "Vinhos"
*/

.conteiner-box-text h1 {
    margin-bottom: 24px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.conteiner-box-text p {
    color: black;
    margin-bottom: 35px;
}

.offers-wines {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 440px;
}

/* 
Section "Nossa Hístoria
*/

